<!-- <div class="header">
    <div class="d-flex container p-3">
        <img src="../../../assets/images/20220213_123642.jpg" alt="au logo" width="100" height="100">
        <div class="mx-2 mt-1">
            <h1>Internal Quality Assurance Cell</h1>
            <p>Andhra University , Visakhapatnam</p>
        </div>
    </div>
</div>
<div class="header">
    <div class="container-flud">
        <div class="menu">
            <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
                <div class="container-fluid">
                  <a class="navbar-brand mx-auto" href="#">
                    <div class="d-flex">
                        <img src="../../../assets/images/20220213_123642.jpg" alt="au logo" width="60" height="60">
                        <div class="header-text mx-2 mt-1">
                            <h1>Internal Quality Assurance Cell</h1>
                            <p>Andhra University , Visakhapatnam</p>
                        </div>
                    </div>
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0 justify-content-end">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Staff</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Student</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">NAAC</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
    </div>
    
</div> -->

<div class="wrapper col0">
</div>
<div class="wrapper col1">
    <div id="header">
      <div id="logo"><img src="../../../assets/images/20220213_123642.jpg" width="100" height="100" alt="AU Logo " align="left">
  
      </div>
      <div class="fl_left">
        <h1><a href="#">Internal Quality Assurance Cell</a></h1>
        <p>Andhra University , Visakhapatnam</p>
  
      </div>
      <br class="clear">
    </div>
  </div>
  <div class="wrapper col2">
    <div id="topnav">
      <ul>
        <li ><a routerLink="admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        <li><a routerLink="/admin/staff"  routerLinkActive="active">STAFF</a></li>
        <li><a routerLink="/admin/student" routerLinkActive="active">STUDENT</a></li>
        <li><a routerLink="/admin/student" routerLinkActive="active">ADMIN</a></li>
        <li><a href="">NAAC</a></li>
        <li><a href="">Reports</a></li>
      </ul>
    </div>
  </div>
  <div class="clear-fix"></div>
