<div class="container-fluid pt-3">
    <div class="row">
      <div class="col-2" >
        <div class="card bg-dark text-light">
          <div class="card-body">
            <h3>STAFF</h3>
            <P>{{faculity.length}}</P>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card bg-primary text-light">
          <div class="card-body">
            <h3>STUDENT</h3>
            <P>4032</P>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card bg-danger text-light">
          <div class="card-body">
            <h3>REPORTS</h3>
            <P>1366</P>
          </div>
        </div>
      </div>
      <div class="col-2">
        <div class="card bg-success text-light">
          <div class="card-body">
            <h3>STAFF</h3>
            <P>1966</P>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <iframe id="theFrame" src="http://localhost:4300/menuwithModal" style="width:100%; height: 100%;" frameborder="3">
</iframe> -->