<!-- <div class="container pt-3 about">
    <div class="m-5">
      <h1>About IQAC</h1>
      <p>As per National Assessment and Accreditation Council (NAAC) guidelines every accredited institution should establish an Internal Quality Assurance Cell (IQAC) as a post-accreditation quality sustenance measure. Since quality enhancement is a continuous process, the IQAC becomes a part of the institution's system and works towards realization of the goals of quality enhancement and sustenance.
        <br><br>
        The prime task of the IQAC is to develop a system for conscious, consistent and catalytic improvement in the overall performance of institutions.
        <br><br>
        PU was accredited by NAAC in 2001 for the first cycle, in 2009 for the second cycle and in 2015 for the third cycle. IQAC established at PU continued to strive for the betterment of processes and setup. The NAAC visited the Panjab University Campus from March 02-05, 2015.
        <br>
        <br>
        Taking the concrete step further PU has established a concrete central IQAC hosted in MIS Cell of PU.

      </p>
      <h2>Goals of IQAC</h2>
      <p>The primary aim of IQAC is</p>
      <ul>
        <li>To develop a system for conscious, consistent and catalytic action to improve the academic and administrative performance of the institution.</li>
        <li>To promote measures for institutional functioning towards quality enhancement through internalization of quality culture and institutionalization of best practices.</li>
        
      </ul>
      <div>
        <h2>NAAC - AQAR</h2>
    <a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2019-2020-AQAR-submitedonline-Jan27-2020.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (2019-2020).</a></p>
    <a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2018-2019-Dec30-2019-submitted-NAAC.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2018 to June 30, 2019).</a></p>
    <a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2017-2018-Dec14-2018-submitted-NAAC.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2017 to June 30, 2018).</a></p>
    <a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2016-17-AQAR-latest-26th%20feb.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2016 to June 30, 2017).</a></p>
    <a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2014-15-AQAR.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2014 to June 30, 2015).</a></p>
    <a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2013-14-AQAR.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2013 to June 30, 2014).</a></p>
    <a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2012-13-AQAR.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2012 to June 30, 2013).</a>
      </div>
    </div>
    
</div> -->
  <!-- <iframe id="theFrame" src="http://localhost:4300/menuwithModal" style="width:100%; height: 100%;" frameborder="3">
</iframe> -->
<div class="home_section content">
  <div class="section">
      <div class="container">
        <h4 class="font-weight-bold">INTERNAL QUALITY ASSURANCE CELL (IQAC)</h4>
      </div>
  </div>
  <div class="container pb-4">
    <!-- <div class="heading">
      <h3 class="font-weight-bold">INTERNAL QUALITY ASSURANCE CELL (IQAC)</h3>
  </div> -->
  <div class="row mt-5" >
      <div class="col-5">
          <img class="about_image" src="../../../assets/images/Dr-Lalitha-Bhaskari.jpg">
      </div>
      <!-- <div class="fac"></div> -->
      <div class="col-7">
          <h3 class="font-weight-bold">PROFILE</h3>
          <p class="mt-3 text-justify">The Internal Quality Assurance Cell (IQAC) has been established in the University in 2005 at the instance of the National Assessment and Accreditation Council (NAAC) as a post accreditation quality sustenance measure.</p>
          <h4 class="font-weight-bold">The objectives of the IQAC are:</h4>
          <ul>
              <li>To ensure continuous improvement in the entire operations of the University</li>
              <li>To ensure stakeholders connected with higher Education, namely parents, teachers, staff, would be employers, funding agencies and society in general, of its own quality and probity.</li>
              <br>
              <!-- <li class="font-weight-bold">Student</li>s -->
          </ul>
      </div>
  </div>
  <div class="row mt-4">
      <div class="col-5 bg-white pt-3">
          <p><b>NAME:&nbsp;</b>Prof. D.Lalitha Bhaskari</p>
          <p><b>MOBILE:&nbsp;</b>+ 91-98854 38922</p>
          <p><b>OFFICE:&nbsp;</b>+ 0891-2844818,4817</p>
          <p><b>EMAIL:&nbsp;</b>iqac@andhrauniversity.edu.in</p>
      </div>
      <!-- <div class="fac"></div> -->
      <div class="col-7 links">
          <h4 class="font-weight-bold">NAAC - AQAR</h4>
          <p><a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2019-2020-AQAR-submitedonline-Jan27-2020.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (2019-2020).</a></p>
          <p><a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2018-2019-Dec30-2019-submitted-NAAC.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2018 to June 30, 2019).</a></p>
          <p><a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2017-2018-Dec14-2018-submitted-NAAC.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2017 to June 30, 2018).</a></p>
          <p><a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2016-17-AQAR-latest-26th%20feb.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2016 to June 30, 2017).</a></p>
          <p><a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2014-15-AQAR.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2014 to June 30, 2015).</a></p>
          <p><a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2013-14-AQAR.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2013 to June 30, 2014).</a></p>
          <p><a href="https://www.andhrauniversity.edu.in/img/pdf/nirf/2012-13-AQAR.pdf" target="_blank" rel="noopener noreferrer">The Annual Quality Assurance Report (AQAR) of the IQAC (July 1, 2012 to June 30, 2013).</a>
      </div>
  </div>
  <div class="content-info border mt-4">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <a><i class="fa fa-book" aria-hidden="true"></i>The Functions of the IQAC are:</a>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
           <b>I.</b>Design and implementation of annual plan for Institution – level activities for quality enhancement <br>
            <b>II.</b> Arrange for feed back responses from students for quality – related institutional processes<br>
            <b>III.</b> Development and Application of quality bench marks / parameters for the various Academic and Administrative activities of the Institution<br>
<b>IV.</b> Retrieval of Information on various quality parameters of Higher Education and best practices followed by other Institutions<br>
<b>V.</b> Organization of workshops & seminars on quality related themes & promotion of quality circles and institutions wide dissemination of the proceeding of such activities<br>
<b>VI.</b> Development and application of innovative practices in various programmes / activities leading to quality enhancement<br>
<b>VII.</b> Participation in the creation of learner – centric environment conducive for quality education<br>
<b>VIII.</b> Work for the development of Internationalization and Institutionalization of quality enhancement policies and practices<br>
<b>IX.</b> Act as a nodal unit of the Institution for augmenting quality – related activities <br>
<b>X.</b> Prepare focused annual quality assurance report (AQARs).
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fas fa-th-large"></i>ISO 9001:2015
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <a href="https://www.andhrauniversity.edu.in/img/pdf/CDC-04032020.pdf"><span>04/03/2020</span> :: College Development Council(CDC).</a>
              <a href=""><span>04/03/2020</span> :: Departments.</a>
              <a href="https://www.andhrauniversity.edu.in/img/pdf/DOA-04032020.pdf" target="_blank" rel="noopener noreferrer"><span>04/03/2020</span> :: Directorate of Admissions.</a>
              <a href="https://www.andhrauniversity.edu.in/img/pdf/Dr-V-S-KrishnaLibrary-04032020.pdf" target="_blank" rel="noopener noreferrer"><span>04/03/2020</span> :: Dr. V.S. Krishna Library.</a>
              <a href="https://www.andhrauniversity.edu.in/img/pdf/Examinations-04032020.pdf" target="_blank" rel="noopener noreferrer"><span>04/03/2020</span> :: Examinations.</a>
              <a href="https://www.andhrauniversity.edu.in/img/pdf/Internal_Audit_Schedule-04032020.pdf" target="_blank" rel="noopener noreferrer"><span>04/03/2020</span> :: Internal Audit Schedule.</a>
              <a href="https://www.andhrauniversity.edu.in/img/pdf/Principals-04032020.pdf" target="_blank" rel="noopener noreferrer"><span>04/03/2020</span> :: Principals.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>