<!-- <div class="card">
    <div class="card-body">
        <form  [formGroup]="registerStaff"  (ngSubmit)="onSubmit()">
            <div class="row">
                <h3>Enter Faculty Details:</h3>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Emp.No:</label>
                        <input type="number" class="form-control" formControlName="empNo" placeholder="Enter empNo">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>FullName:</label>
                        <input type="text" class="form-control" formControlName="fullName" placeholder="Enter Your Name">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Department:</label>
                        <input type="text" class="form-control" formControlName="dpmt" placeholder="Enter Your Department">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Date of Birth:</label>
                        <input type="date" class="form-control" formControlName="dob" placeholder="Enter Your DOB">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Gender:</label>
                        <input type="text" id="gender" class="form-control" formControlName="gender" placeholder="Enter your gender">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Category:</label>
                        <input type="text" class="form-control" formControlName="category" placeholder="Enter category">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Qualification:</label>
                        <input type="text" class="form-control" formControlName="qualification" placeholder="Enter Your qualification">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Present Position:</label>
                        <input type="text" class="form-control" formControlName="presentPosition" placeholder="Enter Present position">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Date of Joining:</label>
                        <input type="date" class="form-control" formControlName="doj">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>TeachingExp:</label>
                        <input type="number" class="form-control" formControlName="teachingExp" placeholder="Enter TeachingExp">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>IndustrialExp:</label>
                        <input type="number" class="form-control" formControlName="industrialExp" placeholder="Enter IndustrialExp">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>PanNumber:</label>
                        <input type="text" class="form-control" formControlName="panNumber" placeholder="Enter Pan Number">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>AadharNumber:</label>
                        <input type="text" class="form-control" formControlName="aadharNumber" placeholder="Enter AadharNumber">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Phone:</label>
                        <input type="number" class="form-control" formControlName="phone" placeholder="Enter mobile number">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Email Id:</label>
                        <input type="email" class="form-control" formControlName="emailId" placeholder="Enter Email id">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Awards if any:</label>
                        <input type="text" class="form-control" formControlName="awards" placeholder="Enter Awards">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>No. of Phd's:</label>
                        <input type="number" class="form-control" formControlName="noOfPhd" placeholder="Enter No.of Phds">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Books Authored:</label>
                        <input type="text" class="form-control" formControlName="booksAuthored" placeholder="Enter Books Authored">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>No. of researchPapers:</label>
                        <input type="number" class="form-control" formControlName="noOfResearchPapers" placeholder="Enter No.of researchPapers">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>total No.of researchs:</label>
                        <input type="number" class="form-control" formControlName="totalNoOfResearch" placeholder="Enter otal No.of researchs">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <div class="form-group">
                        <label>Patents:</label>
                        <input type="text" class="form-control" formControlName="patents" placeholder="Enter Patents">
                    </div>
                </div>
                
            </div>
            <div>
                <button type="submit">Create Staff</button>
                <button type="submit" *ngIf="staffData">Update Staff</button>
            </div>
        </form>
    </div>
</div> -->

<div class="agent-addupdate-dialog">
    <div class="d-flex justify-content-between">
      <!-- <h1 mat-dialog-title>
        {{ selectedStory.action === "add" ? "ADD STORY" : "Upload Asserts" }} 
      </h1> -->
      <h1 mat-dialog-title *ngIf="selectedFaculity.action === 'uploadExcel'">Add Faculity Using Excel</h1>
      <h1 mat-dialog-title *ngIf="selectedFaculity.action === 'update'">Update Faculity Details - {{selectedFaculity?.data?.name}}</h1>
      <h1 mat-dialog-title *ngIf="selectedFaculity.action === 'add'">ADD Faculity</h1>
      <h1 mat-dialog-title *ngIf="selectedFaculity.action === 'view'">View Faculity Details</h1>
      <div class="button">
        <a class="btn btn-xs btn-icon btn-hover-primary" href="javascript:void(0)" (click)="onClose()">X</a>
      </div>
    </div>
  
    <div mat-dialog-content>
        <form  [formGroup]="registerStaff" *ngIf="selectedFaculity.action == 'add' || selectedFaculity.action === 'update'">
            <div class="header">
                <div class="card mb-2">
                    <div class="card-body">
                        <h3>Personal Details</h3>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label>FullName:</label>
                                <input type="text" class="form-control" formControlName="fullName" placeholder="Enter Your Name">
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label>Mobile No:</label>
                                <input type="number" class="form-control" formControlName="phone" placeholder="Enter mobile number">
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label>Email Id:</label>
                                <input type="email" class="form-control" formControlName="emailId" placeholder="Enter Email id">
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>Date of Birth:</label>
                                <input type="date" class="form-control" formControlName="dob" placeholder="Enter Your DOB">
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>Gender:</label>
                                <input type="text" id="gender" class="form-control" formControlName="gender" placeholder="Enter your gender">
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>PanNumber:</label>
                                <input type="text" class="form-control" formControlName="panNumber" placeholder="Enter Pan Number">
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>AadharNumber:</label>
                                <input type="text" class="form-control" formControlName="aadharNumber" placeholder="Enter AadharNumber">
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Other Deatils</h3>
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Emp.No:</label>
                            <input type="number" class="form-control" formControlName="empNo" placeholder="Enter empNo">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Date of Joining:</label>
                            <input type="date" class="form-control" formControlName="doj">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Department:</label>
                            <input type="text" class="form-control" formControlName="dpmt" placeholder="Enter Your Department">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Category:</label>
                            <input type="text" class="form-control" formControlName="category" placeholder="Enter category">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Qualification:</label>
                            <input type="text" class="form-control" formControlName="qualification" placeholder="Enter Your qualification">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Present Position:</label>
                            <input type="text" class="form-control" formControlName="presentPosition" placeholder="Enter Present position">
                        </div>
                    </div>
                    
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>TeachingExp:</label>
                            <input type="number" class="form-control" formControlName="teachingExp" placeholder="Enter TeachingExp In Years">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>IndustrialExp:</label>
                            <input type="number" class="form-control" formControlName="industrialExp" placeholder="Enter IndustrialExp Years">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>No. of Phd's:</label>
                            <input type="number" class="form-control" formControlName="noOfPhd" placeholder="Enter No.of Phds">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Awards if any:</label>
                            <input type="text" class="form-control" formControlName="awards" placeholder="Enter Awards">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>No. of researchPapers:</label>
                            <input type="number" class="form-control" formControlName="noOfResearchPapers" placeholder="Enter No.of researchPapers">
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Books Authored:</label>
                            <input type="text" class="form-control" formControlName="booksAuthored" placeholder="Enter Books Authored">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>total No.of researchs:</label>
                            <input type="number" class="form-control" formControlName="totalNoOfResearch" placeholder="Enter otal No.of researchs">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Patents:</label>
                            <input type="text" class="form-control" formControlName="patents" placeholder="Enter Patents">
                        </div>
                    </div>
                    
                </div>
                </div>
            </div>
            <div>
            </div>
        </form>
        <form *ngIf="selectedFaculity.action === 'uploadExcel'">
            <div class="form-group">
                <label>Upload Excel File:</label>
                <input class="form-control" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
            </div>
        </form>
        <div class="view" *ngIf="selectedFaculity.action === 'view'">
            <div class="header">
                <div class="card mb-2">
                    <div class="card-body">
                        <h3>Personal Details</h3>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label>FullName:</label>
                                <p>{{selectedFaculity?.data.fullName}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label>Mobile No:</label>
                                <p>{{selectedFaculity?.data.phone}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <div class="form-group">
                                <label>Email Id:</label>
                                <p>{{selectedFaculity?.data.emailId}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>Date of Birth:</label>
                                <p>{{selectedFaculity?.data.dob | date:"dd-MM-yyyy"}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>Gender:</label>
                                <p>{{selectedFaculity?.data.gender}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>PanNumber:</label>
                                <p>{{selectedFaculity?.data.panNumber}}</p>
                            </div>
                        </div>
                        <div class="col-md-3 mb-2">
                            <div class="form-group">
                                <label>AadharNumber:</label>
                                <p>{{selectedFaculity?.data.aadharNumber}}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3>Other Deatils</h3>
                <div class="row">
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Emp.No:</label>
                            <p>{{selectedFaculity?.data.empNo}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Date of Joining:</label>
                            <p>{{selectedFaculity?.data.doj | date:'dd-MM-yyyy'}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Department:</label>
                            <p>{{selectedFaculity?.data.dpmt}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Category:</label>
                            <p>{{selectedFaculity?.data.category}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Qualification:</label>
                            <p>{{selectedFaculity?.data.qualification}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Present Position:</label>
                            <p>{{selectedFaculity?.data.presentPosition}}</p>
                        </div>
                    </div>
                    
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>TeachingExp:</label>
                            <p>{{selectedFaculity?.data.teachingExp}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>IndustrialExp:</label>
                            <p>{{selectedFaculity?.data.industrialExp}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>No. of Phd's:</label>
                            <p>{{selectedFaculity?.data.noOfPhd}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Awards if any:</label>
                            <p>{{selectedFaculity?.data.awards}}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>No. of researchPapers:</label>
                            <p>{{selectedFaculity?.data.noOfResearchPapers}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 mb-2">
                        <div class="form-group">
                            <label>Books Authored:</label>
                            <p>{{selectedFaculity?.data.booksAuthored}}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>total No.of researchs:</label>
                            <p>{{selectedFaculity?.data.totalNoOfResearch}}</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Patents:</label>
                            <p>{{selectedFaculity?.data.patents}}</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <mat-dialog-actions class="d-flex justify-content-end">
        <button *ngIf="selectedFaculity.action === 'add'" class="btn" (click)="onSubmit()" type="submit">Create Faculity</button>
        <button *ngIf="selectedFaculity.action === 'update'" class="btn" (click)="onSubmit()" type="submit">Update Faculity</button>
        <button *ngIf="selectedFaculity.action === 'uploadExcel'" class="btn" (click)="onSubmit()" type="submit">Submit</button>
        <button  class="btn mx-2" type="submit" (click)="onClose()">Close</button>
    </mat-dialog-actions>
</div>
    